* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: #222;
}

h1 {
    float: left;
}

h1 a {
    width: 140px;
    height: 20px;
    background-image: url('https://genknews.genkcdn.vn/web_images/sprite-genk_v11.png');
}

ul {
    list-style: none;
    overflow: hidden;
}

img {
    max-width: 100%;
    display: block;
}

.khoi-quang-cao-to {
    background: #f1f1f1;
    padding: 20px 0;
}

.khoi-quang-cao-to div {
    width: 990px;
    height: 250px;
    background: pink;
    margin: auto;
}

.content-container {
    width: 990px;
    margin:  45px auto;
}