$background-color: #0078d7;
$background-color2: #414141;
$background-color3: #222;
$text-color: #bbb;
$text-color2: #222;
$text-font: Segoe UI;
$text-font-size: 6.5vh;
$text-font-size2: 4.5vh;
$text-font-size3: 3.5vh;
$text-font-size4: 2.5vh;
$text-font-size5: 8vh;
$transition: all .5s .1s ease-out;
$transition2: all .6s .1s ease-out;
$transition3: all .2s ease-out;
